<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <title>About</title>
    <link rel="icon" href="/img/weather-icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site uses the mapbox.com and weatherstack.com APIs.</p>
    </div>
    
    {{>footer}}
</body>

</html>